# old codes
/legacy
# XFOIL inheritance
/Airfoil/xfoil
!/Airfoil/xfoil_*
/Airfoil/XFOIL/*
!/Airfoil/XFOIL/xfoilInput.input
# image extensions
*.eps
*.png
*.fig
# archives/misc
*.pdf
*.rar
*.exe
*.txt
!InitialGen.txt
paper*
xfoil*
*.bl
log*
**.ini